
/*base background color is  #2EFFD2*/
body {
background-image: linear-gradient(-90deg, #ED9B64, #FF0AC6);
color: white;
padding-top: 50px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: grey;
}

a {color: #7FDBFF;}

.navbar {
   background-color:rgba(0, 0, 0, 0.2);
/*   background: transparent;*/
border: 0;
}

.navbar .nav > li > a { color: #7FDBFF; } 

.container { background-color:rgba(0, 0, 0, 0.1);}

#homepage {background-color: transparent;}