<h2>What It Does</h2>
<p>Hip-Hop Misogyny Stats is a database containing statistics on the use of misogynistic terms in popular hip-hop songs. At present, the database contains information on <%= @rappers.length %> different artists. Every time a user searches for an artist that is not in the database, that artist is added to the database. As such, there will be more entries in the database as more people use the site.</p>

<h2>How it works</h2>

<p>Hip-Hop Misogyny Stats collects its stats from RapGenius data, via <a href="https://github.com/timrogers/rapgenius">this Ruby gem</a>. When you search for an artist, it requests the lyrics for that artist's 20 most popular songs and then performs an analysis on those lyrics, counting the frequency of specific misogynistic terms. If there are fewer than 20 songs available from an artist, that artist will be added to the database but will not be displayed on the stats page, in the interest of providing a proper baseline for the stats. This site was built using Ruby on Rails; you can view the source code <a href="https://github.com/mehan/hip-hop-misogyny-stats">here</a>.</p>

<p>It's worth noting that raw numbers don't tell the whole story: the stats you see on this site are provided without the surrounding context in which these lyrics exist. An artist with a higher score on this site is not <em>necessarily</em> more misogynistic than an artist with a lower score--the way in which words are used is often as important as the words themselves. These stats are provided as an educational resource, without judgement.</p>

<h2>Shoutouts</h2>
Big shout to <a href="https://github.com/timrogers">Tim Rogers</a>; were it not for his <a href="https://github.com/timrogers/rapgenius">RapGenius Ruby gem</a>, this site would not be possible. Props to <a href="https://github.com/bswinnerton">Brooks Swinnerton</a>, who taught me a lot about Ruby and Rails. Respect to <a href="http://www.decontextualize.com/">Allison Parrish</a>, who sparked my interest in working with text and lyrics. Peace to the basedgod <a href="http://www.johanndiedrick.com/">Johann Diedrick</a> for his design feedback.

<h2>Legal</h2>

<p>All of the stats and code for the site are made available for use under a <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution License</a>. The stats are available in JSON format via the <a href="/api">API</a> and the code for the site is available on <a href="https://github.com/mehan/hip-hop-misogyny-stats">GitHub</a>.</p>

<p>Hip-Hop Misogyny Stats is not endorsed by or affiliated with Genius or RapGenius.com.</p>


